body {
    padding: 5px 5px 5px 5px;
    font-family: Helvetica;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 30px 30px 30px 30px;
    width: 1000px;
    }

  header {
    padding: 5px 5px 5px 5px;
    font-family: Helvetica;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     padding-top: 40px;
      float: right;
 margin-right:auto;
 margin-left: auto;
 width: 1000px;

}

.hedd {
    margin-left: 2px;
    width: 1000px;

}



.tit{
    width: 33.33%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1000px;

}


p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
    opacity:1;
    width: 1000px;
    color: darkslategrey;

}

 .down {

    width: 1000px;
    text-align: center;
    padding-top: 100px;
	padding-bottom: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	opacity:0.4;
}


.chanel { 
    margin-left: auto;
    width: 1000px;


}
.home {
   
      margin-left: auto;
       width: 1000px;
  	margin-right: auto;
}



#list {
	background: url(../pic/list-bg.png);
	background-position:center; 
    width: 1000px;
    height: 300px; 
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif; 
}





